*{
    padding: 0;
    margin: 0;
}

body {
    position: relative;
    height: 100%;
}

header{
    font-family: 'Roboto', 'Helvetica', 'Arial', sans-serif;
    background-color: black;
    min-height: 5vh;
    max-height: 10vh;
}

body {
    background: #eee;
    font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
    font-size: 14px;
    color: #000;
    margin: 0;
    padding: 0;
}

.swiper {
    width: 100%;
    height: 100%;
}

.swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
}

.swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}


nav {
    background: rgb(0, 0, 0);
    color: rgb(255, 255, 255);
    display: flex;
    align-items: center;
    justify-content: space-between;
}

nav .mainMenu {
    display: flex;
    list-style: none;
}

nav .mainMenu li a {
    display: inline-block;
    padding: 15px;
    text-decoration: none;
    text-transform: uppercase;
    color: rgb(255, 255, 255);
    font-size: 18px;
    transition: 0.2s ease;
}

nav .mainMenu li a:hover {
    background-color: whitesmoke;
    color: black;

}

nav .openMenu {
    font-size: 2rem;
    margin: 20px;
    display: none;
    cursor: pointer;
}

nav .mainMenu .closeMenu, .icons i {
    font-size: 2rem;
    display: none;
    cursor: pointer;
}

.fa-instagram:hover {
    color: rgb(255, 0, 191);
}

nav .logo {
    margin: 6px;
    cursor: pointer;
    text-transform: uppercase;
}

@media (max-width: 800px) {
nav .mainMenu {
        height: 100vh;
        position: fixed;
        top: 0px;
        right: 0px;
        left: 0px;
        z-index: 10;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background: rgb(0, 0, 0);
        transition: top 1s ease 0s;
        display: none;
    }

nav .mainMenu .closeMenu {
        display: block;
        position: absolute;
        top: 20px;
        right: 20px;
    }

nav .openMenu {
        display: block;
    }

nav .mainMenu li a:hover {
        background: none;
        color: rgb(255, 123, 0);
}}

footer{
    background-color: black;
    color: #fff;
    padding: 10vh;
}

.footer-content {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    color: white;
    font-family: Roboto,Helvetica,Arial,sans-serif;
}

a {
    text-decoration: none;
    outline: none;
    color: inherit;
}
